Feb21.dtd

<!ELEMENT chapter (#PCDATA|g-proc|music|g3|g1|Z|g5|song|dd|g-punt)*>
<!ATTLIST chapter name NMTOKEN #REQUIRED>
<!ELEMENT g-proc (#PCDATA)>
<!ATTLIST g-proc v NMTOKEN #REQUIRED>
<!ELEMENT music (#PCDATA)>
<!ELEMENT g3 (#PCDATA)>
<!ELEMENT g1 (#PCDATA)>
<!ATTLIST g1 s CDATA #IMPLIED>
<!ATTLIST g1 t NMTOKEN #IMPLIED>
<!ATTLIST g1 v NMTOKEN #IMPLIED>
<!ELEMENT Z EMPTY>
<!ELEMENT g5 (#PCDATA)>
<!ATTLIST g5 v NMTOKEN #REQUIRED>
<!ELEMENT song (#PCDATA|dd|y|T|g1|dD|D|d|Dy|Z)*>
<!ATTLIST song name NMTOKEN #REQUIRED>
<!ATTLIST song t NMTOKEN #IMPLIED>
<!ELEMENT dd (#PCDATA)>
<!ATTLIST dd v CDATA #REQUIRED>
<!ELEMENT y EMPTY>
<!ATTLIST y t NMTOKEN #IMPLIED>
<!ELEMENT T EMPTY>
<!ELEMENT dD EMPTY>
<!ELEMENT D EMPTY>
<!ELEMENT d EMPTY>
<!ELEMENT Dy EMPTY>
<!ELEMENT g-punt (#PCDATA)>
<!ATTLIST g-punt v CDATA #REQUIRED>
<!ATTLIST g-punt t NMTOKEN #IMPLIED>
<!ATTLIST g-punt option NMTOKEN #IMPLIED>