Feb22.dtd

<!ELEMENT chapter (#PCDATA|g-proc|d|g-rit|g2|G-proc|G4|G-rit|G1|dd|music|song|G-fret|g1|g5|g-punt|G-ces)*>
<!ATTLIST chapter name NMTOKEN #REQUIRED>
<!ELEMENT g-proc (#PCDATA)>
<!ELEMENT d EMPTY>
<!ELEMENT g-rit (#PCDATA)>
<!ELEMENT g2 (#PCDATA)>
<!ELEMENT G-proc (#PCDATA)>
<!ATTLIST G-proc t NMTOKEN #IMPLIED>
<!ATTLIST G-proc head NMTOKEN #IMPLIED>
<!ELEMENT G4 (#PCDATA)>
<!ELEMENT G-rit (#PCDATA)>
<!ATTLIST G-rit end NMTOKEN #REQUIRED>
<!ELEMENT G1 (#PCDATA)>
<!ATTLIST G1 s CDATA #IMPLIED>
<!ATTLIST G1 head CDATA #IMPLIED>
<!ELEMENT dd (#PCDATA)>
<!ATTLIST dd v CDATA #REQUIRED>
<!ELEMENT music (#PCDATA|Z)*>
<!ATTLIST music name NMTOKEN #IMPLIED>
<!ELEMENT Z EMPTY>
<!ELEMENT song (#PCDATA|dd|g1|d|Z|drum|dr|g-estr|Zd|D)*>
<!ATTLIST song name NMTOKEN #REQUIRED>
<!ATTLIST song t NMTOKEN #IMPLIED>
<!ELEMENT g1 (#PCDATA)>
<!ATTLIST g1 s CDATA #IMPLIED>
<!ATTLIST g1 t NMTOKEN #IMPLIED>
<!ELEMENT G-fret (#PCDATA)>
<!ATTLIST G-fret t NMTOKEN #IMPLIED>
<!ATTLIST G-fret v NMTOKEN #REQUIRED>
<!ELEMENT g5 (#PCDATA)>
<!ATTLIST g5 v NMTOKEN #REQUIRED>
<!ELEMENT drum (#PCDATA|D...|g1)*>
<!ELEMENT dr EMPTY>
<!ELEMENT D... EMPTY>
<!ELEMENT g-estr (#PCDATA)>
<!ATTLIST g-estr end NMTOKEN #REQUIRED>
<!ELEMENT g-punt (#PCDATA)>
<!ELEMENT Zd EMPTY>
<!ELEMENT D EMPTY>
<!ELEMENT G-ces EMPTY>
<!ATTLIST G-ces v NMTOKEN #REQUIRED>
<!ATTLIST G-ces t NMTOKEN #REQUIRED>